
# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
 @tron:registry=https://repo1.dso.mil/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.
# //code.il2.dso.mil/api/v4/packages/npm/:_authToken=${NPM_TOKEN}
