html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
<<<<<<< HEAD
  background-color: slategrey;
=======
  background-color: whitesmoke;
>>>>>>> d48badc91220fbc5555efa6f17a66bfb8cf70530
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* This is for the Navigation Component */

.header {
  font-size: 2rem;
  margin-right: 2rem;
}

.link {
  margin-right: 1.5rem;
}

.profile {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
